<style>

    .card-body {
        margin: 10%; /* Added */
        float: none; /* Added */
        margin-bottom: 10%; /* Added */

    }
</style>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card bg-success text-center w-50">
        <div class="card-header">
            
        </div>
        <div class="card-body">
        <br><br><br>
            <h3 class="card-title">Welcome to Reader Study!</h3>
            <p class="card-text"><h4>Before continue, please read the instructions carefully:</h4></p>
            <div>
            <br>
                <form action="/reader_study" >
                    <div class="form-group">
                        <div class="form-row">
                        <ul>
                            <li><h4>There are 40 whole slide images at total in the study. You need to answer them one by one.</h4></li>
                            <li><h4>On each step, one image will be visualized.</h4></li>
                            <li><h4>After examining the image, please type tyour comment about image into the "Comment box" on left.</h4></li>
                            <li><h4>After typing the comment, press "Next Question" button to continue.</h4></li>
                            <li><h4>After passing the question, you will not be allowed to go back!</h4></li>
                            <li><h4>You can give break any time during the study. But please remember that you must not close the web page. Otherwise all your answers will be deleted and you need to to start over.</h4></li>
                            <li><h4>After finish, you need to fill the form as last step. Then do not forget to push
                            "Submit Answers" button to submit your comments.</h4></li>
                        
                        </ul>
                        <p><h3>Thanks for your colloboration :) </h3> </p>
                        </div>
                    </div>
                    <br><br><br><br>
                    <button type="submit" class="btn btn-success" >Start</button>
                    <br><br><br><br>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script>

</script>