<style>

    .card-body {
        margin: 5%; /* Added */
        float: none; /* Added */
        margin-bottom: 5%; /* Added */

    }
</style>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card bg-success text-left w-50">
        <div class="card-header">
            
        </div>
        <div class="card-body">
        <br><br><br>
            <h3 class="card-title">Hoş Geldiniz!</h3>
            <p class="card-text"><h4>Devam etmeden önce lütfen talimatları dikkatlice okuyun::</h4></p>
            <div>
            <br>
                <form action="/reader_study" >
                    <div class="form-group">
                        <div class="form-row">
                        <ul>
                            <li><h4>Çalışmada toplam 40 adet tam slayt görüntüsü bulunmaktadır. Onları tek tek cevaplamalısınız.</h4></li>
                            <br>
                            <li><h4>Her adımda bir slayt görüntüsü bulunmaktadır.</h4></li>
                            <br>
                            <li><h4>Resmi inceledikten sonra, lütfen sağ alttaki "Yorum kutusu"na slayt görüntüsü hakkındaki yorumunuzu yazın ve hangi tip hastalık olduğunu işaretleyin.</h4></li>
                            <br>
                            <li><h4>Yorumu yazdıktan sonra devam etmek için "Sonraki Soru" düğmesine basın.</h4></li>
                            <br>
                            <li><h4>Soruyu geçtikten sonra geri dönmenize izin verilmeyecek!</h4></li>
                            <br>
                            <li><h4>Çalışma sırasında lütfen web sayfasını kapatmamanız gerektiğini unutmayın. Aksi takdirde tüm cevaplarınız silinecek ve baştan başlamanız gerekecek.</h4></li>
                            <br>
                            <li><h4>Çalışmayı bitirdikten sonra son adım olarak isim ve soyisminizin istendiği formu doldurmanız gerekmektedir.
                    Yorumlarınızı göndermek için "Cevapları Gönder" düğmesine basmayı unutmayın.</h4></li>
                        
                        </ul>
                        <p><h3>İşbirliğiniz için teşekkür ederiz :) </h3> </p>
                        </div>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-success btn-lg" >Başla</button>
                    <br><br><br><br>
                </form>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script>

</script>