<!DOCTYPE html>
<html>
    <head>
        <title>OpenSeadragon HTML Overlay Demo</title>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/openseadragon.min.js"></script>
        <script src="openseadragon-html-overlay.js"></script>
        <style type="text/css">

            html,
            body,
            .openseadragon1 {
                width: 100%;
                height: 100%;
                margin: 0;
            }

            .text-overlay {
                position: absolute;
                left: 1000px;
                top: 500px;
                width: 3000px;
                font-size: 175px;
                font-family: sans-serif;
                color: white;
                text-shadow: 30px 30px 15px rgba(0, 0, 0, 0.5);
            }

            .text-overlay a {
                color: #DDF;
            }

            .image-overlay {
                position: absolute;
                left: 4000px;
                top: 500px;
                width: 1000px;
                height: 1000px;
                cursor: pointer;
            }


            @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

            body{
                font-size: 20px;
                font-family: 'Work Sans', sans-serif;
                color: #333;
            font-weight: 300;
            text-align: center;
            background-color: #f8f6f0;
            }
            h1{
            font-weight: 300;
            margin: 0px;
            padding: 10px;
            font-size: 20px;
            background-color: #444;
            color: #fff;
            }
            .question{
            font-size: 30px;
            margin-bottom: 10px;
            }
            .answers {
            margin-bottom: 20px;
            text-align: left;
            display: inline-block;
            }
            .answers label{
            display: block;
            margin-bottom: 10px;
            }
            button{
            font-family: 'Work Sans', sans-serif;
                font-size: 22px;
                background-color: #279;
                color: #fff;
                border: 0px;
                border-radius: 3px;
                padding: 20px;
                cursor: pointer;
                margin-bottom: 20px;
            }
            button:hover{
                background-color: #38a;
            }





            .slide{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.5s;
            }
            .active-slide{
            opacity: 1;
            z-index: 2;
            }
            .quiz-container{
            position: relative;
            height: 200px;
            margin-top: 40px;
            }


        </style>
    </head>
    <body>
        <h1>Quiz on Important Facts</h1>
        <div class="quiz-container">
        <div id="quiz"></div>
        </div>
        <button id="previous">Previous Question</button>
        <button id="next">Next Question</button>
        <button id="submit">Submit Quiz</button>
        <div id="results"></div>



        <div id="contentDiv" class="openseadragon1"></div>
        <div class="text-overlay">
            
            
        </div>
        <img class="image-overlay" src="openseadragonlogo-transparent.png">

        <script>
        (function(){
  // Functions
            function buildQuiz(){
                // variable to store the HTML output
                const output = [];

                // for each question...
                myQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    // variable to store the list of possible answers
                    const answers = [];

                    // and for each available answer...
                    for(letter in currentQuestion.answers){

                    // ...add an HTML radio button
                    answers.push(
                        `<label>
                        <input type="radio" name="question${questionNumber}" value="${letter}">
                        ${letter} :
                        ${currentQuestion.answers[letter]}
                        </label>`
                    );
                    }

                    // add this question and its answers to the output
                    output.push(
                    `<div class="slide">
                        <div class="question"> ${currentQuestion.question} </div>
                        <div class="answers"> ${answers.join("")} </div>
                    </div>`
                    );
                }
                );

                // finally combine our output list into one string of HTML and put it on the page
                quizContainer.innerHTML = output.join('');
            }

            function showResults(){

                // gather answer containers from our quiz
                const answerContainers = quizContainer.querySelectorAll('.answers');

                // keep track of user's answers
                let numCorrect = 0;

                // for each question...
                myQuestions.forEach( (currentQuestion, questionNumber) => {

                // find selected answer
                const answerContainer = answerContainers[questionNumber];
                const selector = `input[name=question${questionNumber}]:checked`;
                const userAnswer = (answerContainer.querySelector(selector) || {}).value;

                // if answer is correct
                if(userAnswer === currentQuestion.correctAnswer){
                    // add to the number of correct answers
                    numCorrect++;

                    // color the answers green
                    answerContainers[questionNumber].style.color = 'lightgreen';
                }
                // if answer is wrong or blank
                else{
                    // color the answers red
                    answerContainers[questionNumber].style.color = 'red';
                }
                });

                // show number of correct answers out of total
                resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
            }

            function showSlide(n) {
                slides[currentSlide].classList.remove('active-slide');
                slides[n].classList.add('active-slide');
                currentSlide = n;
                if(currentSlide === 0){
                previousButton.style.display = 'none';
                }
                else{
                previousButton.style.display = 'inline-block';
                }
                if(currentSlide === slides.length-1){
                nextButton.style.display = 'none';
                submitButton.style.display = 'inline-block';
                }
                else{
                nextButton.style.display = 'inline-block';
                submitButton.style.display = 'none';
                }
            }

            function showNextSlide() {
                showSlide(currentSlide + 1);
            }

            function showPreviousSlide() {
                showSlide(currentSlide - 1);
            }

            // Variables
            const quizContainer = document.getElementById('quiz');
            const resultsContainer = document.getElementById('results');
            const submitButton = document.getElementById('submit');
            const myQuestions = [
                {
                question: "Who invented JavaScript?",
                answers: {
                    a: "Douglas Crockford",
                    b: "Sheryl Sandberg",
                    c: "Brendan Eich"
                },
                correctAnswer: "c"
                },
                {
                question: "Which one of these is a JavaScript package manager?",
                answers: {
                    a: "Node.js",
                    b: "TypeScript",
                    c: "npm"
                },
                correctAnswer: "c"
                },
                {
                question: "Which tool can you use to ensure code quality?",
                answers: {
                    a: "Angular",
                    b: "jQuery",
                    c: "RequireJS",
                    d: "ESLint"
                },
                correctAnswer: "d"
                }
            ];

            // Kick things off
            buildQuiz();

            // Pagination
            const previousButton = document.getElementById("previous");
            const nextButton = document.getElementById("next");
            const slides = document.querySelectorAll(".slide");
            let currentSlide = 0;

            // Show the first slide
            showSlide(currentSlide);

            // Event listeners
            submitButton.addEventListener('click', showResults);
            previousButton.addEventListener("click", showPreviousSlide);
            nextButton.addEventListener("click", showNextSlide);
            })();





            // ----------
            function init() {
                var tileSource = {
                    Image: {
                        xmlns: "http://schemas.microsoft.com/deepzoom/2008",
                        Url: "http://openseadragon.github.io/example-images/highsmith/highsmith_files/",
                        Format: "jpg",
                        Overlap: "2",
                        TileSize: "256",
                        Size: {
                            Width:  "7026",
                            Height: "9221"
                        }
                    }
                };

                var viewer = OpenSeadragon({
                    id: "contentDiv",
                    prefixUrl: "https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/",
                    tileSources: [{
                        tileSource: tileSource,
                        width: 7026
                    }]
                });

                var overlay = viewer.htmlOverlay();

                overlay.element().appendChild(document.querySelector('.text-overlay'));

                var imageOverlay = document.querySelector('.image-overlay');
                overlay.element().appendChild(imageOverlay);
                overlay.onClick(imageOverlay, function() {
                    
                });
            }

            // ----------
            init();
        </script>
    </body>
</html>