<!DOCTYPE html>
<html>
    <head>
        <title>OpenSeadragon HTML Overlay Demo</title>
        <script src="https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/openseadragon.min.js"></script>
        <script src="openseadragon-html-overlay.js"></script>
        <style type="text/css">

            html,
            body {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            .openseadragon1 {
                width: 80%;
                height: 80%;
                margin-left: 5%;
                margin-top: 0;
            }
            .card-body {
                margin: 5%; /* Added */
                float: none; /* Added */
                margin-bottom: 25%; /* Added */

            }
        
            @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

            body{
                font-size: 20px;
                font-family: 'Work Sans', sans-serif;
                color: #333;
            font-weight: 300;
            text-align: center;
            background-color: #f8f6f0;
            }
            h1{
            font-weight: 300;
            margin: 0px;
            padding: 10px;
            font-size: 20px;
            background-color: #444;
            color: #fff;
            }
            .question{
            font-size: 30px;
            margin-bottom: 0px;
            }
         
            button{
                font-family: 'Work Sans', sans-serif !important;
                font-size: 22px important;
                background-color: #279;
                color: #fff;
                border: 0px;
                border-radius: 3px;
                padding: 20px;
                cursor: pointer;
                
                
                }
            #next {
                position: fixed; /* Fixed/sticky position */
                bottom: 20px; /* Place the button at the bottom of the page */
                right: 30px; /* Place the button 30px from the right */
                z-index: 99; 
                margin-bottom: 20px;
                float: right;
            }
                button:hover{
                    background-color: #38a;
                }

                .slide{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.5s;
                }
                .active-slide{
                opacity: 1;
                z-index: 2;
                }
                .quiz-container{
                position: relative;
                height: 100px;
                margin-top: 40px;
                }

                .form-group {
                    font-family: 'Work Sans', sans-serif;
                    position: fixed; /* Fixed/sticky position */
                    top: 620px; /* Place the button at the bottom of the page */
                    right: 30px; /* Place the button 30px from the right */
                    z-index: 99; 
                    font-size: 22px;
                }

                #submit {
                    margin-left:auto !important;
                    margin-right:auto !important;
                    margin-top:12% !important;
                    margin-bottom:0% !important;
                    font-family: 'Work Sans', sans-serif !important;
                    font-size: 22px important;
                }

        </style>
    </head>
    <body>
        <h1>Reader Study</h1>
        <button id="next">Next Question</button>
        <div class="quiz-container">
            <div id="quiz">
                <div class="slide">
                    <div class="question"> Explain the image below into text box. </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea style="overflow:auto;resize:none" class="form-control" rows="5" id="comment0"></textarea>
                    </div>
                </div>
                <div class="slide">
                    <div class="question"> Explain the image below into text box. </div>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea style="overflow:auto;resize:none" class="form-control" rows="5" id="comment1"></textarea>
                    </div>
                </div>

                <div class="slide">
                    <div class="question"> Before submit, please fill the form below: </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="card bg-success text-center w-50">
                            <div class="card-header">
                                
                            </div>
                            <div class="card-body">
                            <br><br><br>
                                <h3 class="card-title"></h3>
                                <p class="card-text"></p>
                                <div>
                                <br>
                                    <form action="/result">
                                        <div class="form-group2">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label for="first_name">First Name</label>
                                                    <input type="text" id="first_name" class="form-control" placeholder="First name">
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <label for="last_name">Last Name</label>
                                                    <input type="text" id="last_name" class="form-control" placeholder="Last name">
                                                </div>
                                            </div>
                                        </div>
                                        <br><br><br><br>
                                        <div class="form-group2">
                                            <div class="form-row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-12">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>
                                            <div class="col-md-1"></div>
                                            </div>
                                        </div>
                                        <br><br><br><br>
                                        <button  id="submit" method="post" class="btn btn-success" value="save" onclick="window.location='./result/'">Submit Answers</button>
                                        <br><br><br><br>
                                    </form>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                </div>
            </div>
        </div>
        <div id="contentDiv0" class="openseadragon1" style= "display:none; position: relative;"></div>
        <div id="contentDiv1" class="openseadragon1" style= "display:none; position: relative;"></div>

        <div id="results"></div>

        <script>
        (function(){
/*
            function buildQuiz(){
                const output = [];
                comment_id="comment"
                for(i=0; i<2; i++) {
                    comment_id=comment_id+string(i)
                    output.push(
                    `<div class="slide">
                        <div class="question"> Explain the image below into text box. </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea style="overflow:auto;resize:none" class="form-control" rows="5" id="${comment_id}"></textarea>
                        </div>
                    </div>`
                    );
                }
                quizContainer.innerHTML = output.join('');
            }
                
            */
            var start = Date.now();
            function showSlide(n) {
                start = Date.now();
                
                slides[currentSlide].classList.remove('active-slide');
                slides[n].classList.add('active-slide');
                currentSlide = n;
                if(currentSlide === slides.length-1){
                nextButton.style.display = 'none';
                submitButton.style.display = 'inline-block';
                }
                else{
                nextButton.style.display = 'inline-block';
                submitButton.style.display = 'none';
                }
                console.log(currentSlide)


                /////////////////////
                var number_of_slides_list=Array.from(Array(2).keys())
                var itemsWithoutCurrent = number_of_slides_list.filter(function(x) { return x !== currentSlide; });
                for(item in itemsWithoutCurrent){
                    id_name="contentDiv"+item
                    document.getElementById(id_name).style.display="none";
                }
                current_id="contentDiv"+currentSlide
                document.getElementById(current_id).style.display="block";

                var file_dirs=["foo_files/","helloworld_files/"]
                var file_name="http://192.168.1.109:8000/"+file_dirs[currentSlide]

                var tileSource = {
                    Image: {
                        xmlns: "http://schemas.microsoft.com/deepzoom/2008",
                        Url: file_name,
                        Format: "png",
                        Overlap: "2",
                        TileSize: "128",
                        Size: {
                            Width:  "2000",
                            Height: "2000"
                        }
                    }
                };
            
                
                var viewer = OpenSeadragon({
                    id: current_id,
                    prefixUrl: "https://cdn.jsdelivr.net/npm/openseadragon/build/openseadragon/images/",
                    tileSources: [{
                        tileSource: tileSource,
                        width: 2000
                    }], 
                    showNavigator:  true
                });
            
            }

            function showNextSlide() {
                end=Date.now()
                interval=end-start
                interval=Math.floor(interval / 1000)
                current_comment="comment"+currentSlide
                var textToWrite = document.getElementById(current_comment).value;
                comments=comments+textToWrite+" : "+interval+"\n"
                console.log(comments)
                showSlide(currentSlide + 1);
            }

            // Variables
            const quizContainer = document.getElementById('quiz');
            const resultsContainer = document.getElementById('results');
            const submitButton = document.getElementById('submit');
            var comments=""
            // Pagination
            const nextButton = document.getElementById("next");
            const slides = document.querySelectorAll(".slide");
            let currentSlide = 0;

            // Show the first slide
            showSlide(currentSlide);

            // Event listeners
            nextButton.addEventListener("click", showNextSlide);
            
            

            function saveTextAsFile(){

            var textFileAsBlob = new Blob([comments], {type:'text/plain'});
            var fileNameToSaveAs = document.getElementById('first_name').value+"_"+document.getElementById('last_name').value+".txt";
        
            var downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null)
            {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            }
            else
            {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }
        
            downloadLink.click();
        }
    
        var button_sbmt = document.getElementById('submit');
        button_sbmt.addEventListener('click', saveTextAsFile);
            })();



        </script>
    </body>
</html>